body,
html{
	padding: 0;
	margin: 0;
	width: 2500px;
	height: 2500px;
	overflow: hidden;
}

main{
	position: absolute;
	overflow: hidden;
	background-color: #e1e1e1;
}

.change-map{
	display: none
}

.floor{
	float: left;
	width: 50px;
	height: 50px;
	box-shadow: 0 0 0 1px red;
	font-size: .85rem;
}

.floor.defense{
	background-color: gray;
}

.floor.area{
	background-color: yellow;
}

.floor.attack{
	background-color: purple;
}

.object{
	position: absolute;
	background-color: green;
	opacity: 0.8
}

.object.door{
	background-color: #45cfff;	
}

.item{
	z-index: 0;
	position: absolute;
	background-color: #f724ff;
}

.creature{
	z-index: 1;
	position: absolute;
	transition: left .4s ease, right .4s ease, top .4s ease, bottom .4s ease;
}

.goto{
	transition: none !important;
}

.creature:after{
	content: '->';
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: absolute;
	color: white;
	font-weight: bold;
}

.creature.up:after{ transform: rotate(270deg); }
.creature.down:after{ transform: rotate(90deg); }
.creature.left:after{ transform: rotate(180deg); }
.creature.right:after{ transform: rotate(360deg); }
.creature.up_right:after{ transform: rotate(-45deg); }
.creature.down_right:after{ transform: rotate(45deg); }
.creature.left_up:after{ transform: rotate(225deg); }
.creature.left_down:after{ transform: rotate(135deg); }

.char{
	position: absolute;
	background-color: red;
}

.monster{
	background-color: blue;
}

.creature .life{
	width: 100%;
	height: 8px;
	margin-top: -1rem;
	top: 0;
	left: 0;
	position: absolute;
}

.creature .life span{
	float: left;
	height: 5px;
	border: 2px solid #000;
	background-color: green;
}

.creature.dead{	
	opacity: 0 !important;
}

.creature.receive{
	background-color: green;
}

.creature.defense{
	background-color: white;
}

.dashboard{
	top: 2rem;
	left: 2rem;
	z-index: 1;
	padding: 2rem;
	position: fixed;
	background-color: #fff;
}